# +--------------------------------------------------+ #
# | Author : iWulai <iwulai@qq.com> <www.iwulai.com> | #
# +--------------------------------------------------+ #
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    
    RewriteCond %{HTTP_HOST} ^(iwulai.com|118.24.15.66)
    RewriteRule ^ https://www.iwulai.com%{REQUEST_URI} [L,R]
    
    RewriteCond %{HTTP_HOST} ^iwulai.cn
    RewriteRule ^ https://www.iwulai.cn%{REQUEST_URI} [L,R]
    
    RewriteCond %{SERVER_PORT} !^443$
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
